@media screen and (max-width: 481px) and (hover: none) {
  .container {
    flex-direction: column;
    width: 70vw;

    &__box {
      width: 200px;
      height: 300px;
      margin: 4rem;

      &__number {
        font-size: 1.5rem;
      }

      img {
        width: 200px;
        height: 300px;
      }
      &__product {
        position: absolute;
        max-width: 200px;
      }

      &__btn {
        font-size: 1rem;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform-style: preserve-3d;
        transform: translate3d(-50%, -100%, 75px);
        color: rgba(104, 7, 123, 0.5);
        height: 2rem;
        padding: 15px 25px 25px 25px;
        border-radius: 50px;
        text-decoration: none;
        transition: 0.7s;
        opacity: 0;
        z-index: 9;
      }
    }

    &__box::before {
      font-size: 2rem;
    }

    &__box::after {
      font-size: 2rem;
    }
  }
}
