.banner {
  background-image: url("https://cdn.pixabay.com/photo/2015/12/08/00/36/woman-1081873_960_720.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  color: #0abfbc;
  font-family: "Staatliches", cursive;

  &__text {
    padding: 2rem;
  }
}

.banner-text-h1 {
  font-size: 2em;
}

.banner-text p {
  color: #5c4d7d;
}

.social-media {
  display: flex;
  justify-content: flex-start;
  padding-left: 2rem;
}

.socialmedia-img {
  margin: 0.5rem;
}

.icon {
  color: #f5dfbb;
}

.icon:hover {
  color: #b7094c;
}
