// portfolio page

.work_gallery {
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
  transform-style: preserve-3d;

  &__box {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 40px;
    background: rgba(254, 80, 87, 0.8);
    border-radius: 5px;
    box-shadow: -14px 21px 20px -1px rgba(110, 11, 11, 0.5);
    -webkit-box-shadow: -14px 21px 20px -1px rgba(110, 11, 11, 0.5);
    -moz-box-shadow: -14px 21px 20px -1px rgba(110, 11, 11, 0.5);
    transform-style: preserve-3d;
    transform: scale3d(1, 1, 1);

    &__name {
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      font-size: 1rem;
      color: #fff;
      width: 100%;
      transform-style: preserve-3d;
      transform: translate3d(0, 150%, 75px);
      transition: 0.5s;
      opacity: 0;
      z-index: 10;
    }

    &__number {
      position: absolute;
      bottom: 0;
      right: 0;
      opacity: 0.5;
      color: #fff;
      font-size: 3rem;
      background-color: transparent;
      transform-style: preserve-3d;
      transform: translate3d(5%, 10%, 3rem);
      z-index: 1;
    }

    // &__product {
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   max-width: 300px;
    //   transition: 0.5s;
    //   z-index: 11;
    //   transition: 0.5s;
    //   transform-style: preserve-3d;
    //   transform: translate3d(-50%, -50%, 100px) rotate(-15deg);
    // }

    &:hover {
      .container__box__name {
        top: 40px;
        opacity: 1;
      }
      .container__box__btn {
        bottom: 30px;
        opacity: 0.9;
      }
    }

    &__btn {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform-style: preserve-3d;
      transform: translate3d(-50%, -180%, 75px);
      color: rgba(254, 80, 87, 0.5);

      background-color: #f5dfbb;

      height: 3rem;
      padding: 15px 25px 25px 25px;
      border-radius: 50px;
      text-decoration: none;
      transition: 0.7s;
      opacity: 0;
      z-index: 10;
    }
  }

  &__box::before {
    content: 'PROJECT';
    position: absolute;
    top: 1rem;
    left: -1.5rem;
    font-size: 4rem;
    font-weight: 900;
    color: #0abfbc;
    font-style: italic;
    opacity: 0.8;
    transition: 0.5s;
  }

  &__box::after {
    content: 'NAME';
    position: absolute;
    bottom: 1rem;
    right: -1.3rem;
    font-size: 4rem;
    font-weight: 900;
    color: #0abfbc;
    font-style: italic;
    opacity: 0.8;
    transition: 0.5s;
  }

  &__box:hover::before,
  &__box:hover::after {
    opacity: 0.4;
  }
}

@media screen and (max-width: 481px) and (hover: none) {
  .container {
    width: 100vw;

    &__box {
      position: relative;
      width: 250px;
      height: 300px;
      margin: 30px;
    }

    &:hover {
      .container__box__name {
        top: 40px;
        opacity: 1;
      }
      .container__box__btn {
        bottom: 30px;
        opacity: 0.9;
      }
    }

    &__btn {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform-style: preserve-3d;
      transform: translate3d(-50%, -80%, 75px);
      color: rgba(254, 80, 87, 0.5);

      background-color: #f5dfbb;

      height: 3rem;
      padding: 15px 25px 25px 25px;
      border-radius: 50px;
      text-decoration: none;
      transition: 0.7s;
      opacity: 0;
      z-index: 10;
    }

    &__box::before {
      font-size: 4rem;
      opacity: 0.3;
    }

    &__box::after {
      font-size: 4rem;
      opacity: 0.3;
    }

    &__box:hover::before,
    &__box:hover::after {
      opacity: 0.4;
    }
  }
}
