@import 'nav.scss';
@import 'variables.scss';
@import 'portfolio.scss';
@import 'svg.scss';

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: 'Rye', cursive;
  //font-family: 'Heebo', sans-serif;
}
body {
  background-color: #131313;
  color: #ccc5b9;
  justify-content: center;
  align-items: center;
}

.logo-image {
  height: 85px;
  top: 30px;
  left: 30px;
  position: fixed;
  z-index: 11;
}

h2 {
  font-family: 'Rye', cursive;
  color: $gray;
}

/*index page -----------------------*/

.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .name-container {
    justify-content: center;
    align-self: center;
    margin-top: 2rem;
  }

  /* caption text */
  .text {
    color: $tq;
    font-family: 'Rye', cursive;
    font-size: 5rem;
    font-weight: 900;
    padding: 8px 12px;
    text-align: left;
    margin-top: 2rem;

    p {
      font-family: 'Rye', cursive;
      font-size: 2rem;
      text-align: end;
      color: $orange;
    }
  }
}

.social-media {
  display: flex;

  &__img {
    margin: 1.5rem 1.5rem 0 1.5rem;
  }
}

.sm {
  font-size: 3.7rem;
  justify-content: flex-start;

  &--cv {
    font-size: 3em;
    display: flex;
    justify-content: center;
  }
}

.icon i {
  color: $icon;
  transform: scale(1);
  transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.icon:hover i {
  color: $red;
  transform: scale(1.5);
  transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media screen and (min-width: 600px) {
  .coverImg {
    display: flex;
    justify-content: center;
  }
}

/* CV ---------------*/

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 10rem;

  &__img img {
    width: 50vw;
    height: auto;
    margin-top: 80px;
  }
}
.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 20px;
}
.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85vw;
  padding: 3rem 2rem;
  border-radius: 7px;
  margin: 2rem;
  background-color: $bgblack;

  &__title {
    font-size: 1.8rem;
    margin-bottom: 1.8rem;
  }

  &--download {
    background-color: transparent;
  }
}

.skills-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .skills {
    width: 80%;

    .progress {
      display: flex;
      height: 1rem;
      overflow: hidden;
      font-size: 0.75rem;
      background-color: #e9ecef;
      border-radius: 0.25rem;
      margin-bottom: 1.5rem;

      .bgColor {
        background-color: $redOrange;
      }
    }

    span {
      font-size: 1.5rem;
    }
  }
}

.timeline {
  width: 80%;
  display: flex;
  flex-direction: column;

  &__card {
    position: relative;
    margin-bottom: 0.5rem;

    .timeline-head {
      font-size: 2rem;
      padding: 0.5rem 1.5rem 1rem 1.5rem;
      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        background-color: #fff;
        border-radius: 50%;
        width: 14px;
        height: 14px;
        top: 16px;
        left: -12px;
        border: 7px solid $redOrange;
        z-index: 10;
      }
    }

    .timeline-body {
      border-left: 2px solid $redOrange;
      padding-left: 1.5rem;
    }
  }
}

.email,
.phone,
.address {
  p {
    font-size: 2rem;
  }
}

/* Contact ---------------*/
.contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    width: 100vw;

    h1 {
      font-size: 5rem;
      color: $tq;
    }
    .contactMe-p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 60vw;
      text-align: center;
      padding: 20px;
      border-radius: 10px;
    }
    .form {
      display: flex;
      flex-direction: column;
      margin-right: right;

      &__containers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 85vw;
        height: auto;
        padding: 20px;
        border-radius: 10px;

        .contact-inputs {
          width: 80vw;

          &__box {
            width: 100%;
            padding: 15px;
            border: none;
            border-radius: 3px;
            background-color: $bgblack;
            font-size: 2rem;
            margin-top: 30px;
            color: $ow;
            outline: none;
          }
          &__box::placeholder {
            font-size: 2rem;
            color: $gray;
            opacity: 0.4;
          }
        }
        .underline {
          position: relative;
        }
      }
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    padding: 3rem 2rem;
    margin: 2rem;
    background-color: $bgblack;
  }
}

.border-underline::before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: $redOrange;
  transition: transform 600ms ease-in-out;
  transform-origin: 0;
  transform: scaleX(0);
}
.border-underline:hover::before,
.border-underline:focus::before {
  transform: scale(1);
}

.contact-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;

  .contact-btn {
    height: auto;
    padding: 10px;
    background-color: $bgblack;
    border: 1px solid $tq;
    border-radius: 3px;
    position: relative;
    color: $tq;
    font-size: 2rem;
    padding: 30px;
    margin-top: 50px;
    margin-right: 20px;
    outline: none;

    transition: color 300ms ease-in-out;
    z-index: 1;

    &--download {
      margin-top: 0;
    }

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: #0abfbc;
      z-index: -1;

      transition: transform 500ms ease-in-out;
      transform: scaleX(0);
      transform-origin: left;
    }

    &:hover::before,
    &:focus::before {
      transition: transform 500ms ease-in-out;
      transform: scaleX(1);
    }

    &:hover,
    &:focus {
      color: #1b1b1b;
    }
  }
}
@media screen and (min-width: 600px) and (max-width: 1200) {
  .form {
    max-width: 500px;
  }
}
