@import "nav.scss";
@import "variables.scss";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
}
body {
  background-color: #131313;
  color: #ccc5b9;
}

img.logo-image {
  height: 85px;
  top: 30px;
  left: 30px;
  position: fixed;
  z-index: 11;
}

h2 {
  font-family: "Heebo", sans-serif;
  color: $gray;
}

/*index page -----------------------*/

.coverImg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  // margin-top: 17rem;

  img {
    width: 60vw;
    height: auto;
  }
}

/* caption text */
.text {
  color: $tq;
  font-size: 6rem;
  font-weight: 900;
  padding: 8px 12px;
  position: absolute;
  top: 50%;
  left: 5%;
  text-align: left;

  p {
    font-size: 2rem;
    color: $orange;
  }
}

.social-media {
  display: flex;

  &__img {
    margin: 1.5rem 1.5rem;
  }
}

.sm {
  font-size: 3.7rem;
  justify-content: flex-start;

  &--cv {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin: auto;
  }
}

.icon i {
  color: $icon;
  transform: scale(1);
  transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.icon:hover i {
  color: $red;
  transform: scale(1.5);
  transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media screen and (min-width: 600px) {
  .coverImg {
    display: flex;
    justify-content: center;

    img {
      width: auto;
      height: 80vh;
    }
  }
}

/*Portfolio page ---------------------*/

/* CV ---------------*/

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;

  &__img img {
    width: 50vw;
    height: auto;
    margin-top: 80px;
  }
  &__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    h1 {
      width: 50vw;
      display: block;
      font-size: 15vw;
      color: $tq;
      margin-bottom: 20px;
      font-family: "Staatliches", cursive;
      overflow-wrap: break-word;
    }
  }
}

.aboutme,
.contactme-p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  text-align: center;
  padding: 20px;
  //border: 1px solid #fff;
  border-radius: 10px;
}

.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 20px;
}

.skills-container,
.workexp-container,
.education-container,
.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85vw;
  padding: 20px;
  border-radius: 7px;
  margin: 20px 20px;
  background-color: $bgblack;
}

.skills-container__items {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.my-1 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
}

.bgColor {
  background-color: $red;
}

// *,
// ::after,
// ::before {
//   box-sizing: border-box;
// }

.workexp-names,
.education-names {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.info-container {
  align-items: center;
  justify-content: center;
}

/* Contact ---------------*/

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  width: 100vw;

  h1 {
    font-size: 5rem;
    color: $tq;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin-right: right;

  &__containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85vw;
    height: auto;
    padding: 20px;
    border-radius: 10px;
  }
}

.contact-inputs {
  width: 80vw;

  &__box {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 3px;
    background-color: $bgblack;
    font-size: 2rem;
    margin-top: 30px;
    color: $ow;
    outline: none;
  }
  &__box::placeholder {
    font-size: 2rem;
    color: $gray;
    opacity: 0.4;
  }
}

.underline {
  position: relative;
}

.border-underline::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: rgb(248, 11, 11);
  transition: transform 600ms ease-in-out;
  transform-origin: 0;
  transform: scaleX(0);
}
.border-underline:hover::before,
.border-underline:focus::before {
  transform: scale(1);
}

.contact-btn-container {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
}

.contact-btn {
  height: auto;
  padding: 10px;
  background-color: $bgblack;
  border: 1px solid $tq;
  border-radius: 3px;
  position: relative;
  color: $tq;
  font-size: 2rem;
  padding: 30px;
  margin-top: 50px;
  margin-right: 20px;
  outline: none;

  transition: color 300ms ease-in-out;
  z-index: 1;
}

.contact-btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0abfbc;
  z-index: -1;

  transition: transform 500ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.contact-btn:hover::before,
.contact-btn:focus::before {
  transition: transform 500ms ease-in-out;
  transform: scaleX(1);
}

.contact-btn:hover,
.contact-btn:focus {
  color: #1b1b1b;
}

@media screen and (min-width: 600px) and (max-width: 1200) {
  .form {
    max-width: 500px;
  }
}
