@use 'nav.scss';
@use 'variables.scss';
@use 'portfolio.scss';
@use 'svg.scss';

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: 'Rye', cursive;
  //font-family: 'Heebo', sans-serif;
}
body {
  background-color: #131313;
  color: #ccc5b9;
  justify-content: center;
  align-items: center;
}

.logo-image {
  height: 50px;
  top: 20px;
  left: 30px;
  position: fixed;
  z-index: 11;
}

@media screen and (min-width: 700px) {
  .logo-image {
    height: 70px;
  }
  .hamburger-menu {
    width: 55px;
    height: 55px;
  }
  .change .line-1 {
    transform: rotateZ(-405deg) translate(-13px, 11px);
  }

  .change .line-3 {
    transform: rotateZ(405deg) translate(-13px, -11px);
  }
}

h2 {
  font-family: 'Rye', cursive;
  color: $gray;
}

/*index page -----------------------*/

.cover {
  @include flexCenter();
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  .name-container {
    width: 80vw;
    justify-content: center;
    align-self: center;
    margin-top: 1rem;
  }

  /* caption text */
  .text {
    width: 80vw;
    color: $tq;
    font-family: 'Rye', cursive;
    font-size: 2em;
    font-weight: 900;
    padding: 8px 12px;
    text-align: end;
    margin-top: 1rem;

    p {
      font-family: 'Rye', cursive;
      font-size: 1.5rem;
      text-align: end;
      color: $orange;
    }
  }
}

.social-media {
  display: flex;

  &__img {
    margin: 1rem 0 0 1rem;
  }
  &--cv {
    .social-media__img {
      margin: 1rem 1rem 0 1rem;
    }
  }
}

.sm {
  font-size: 1.5rem;
  justify-content: flex-end;

  &--cv {
    font-size: 1.7rem;
    justify-content: center;
  }
}

.icon i {
  color: $icon;
  transform: scale(1);
  transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.icon:hover i {
  color: $red;
  transform: scale(1.5);
  transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* CV ---------------*/

.profile-container {
  @include flexCenter();
  flex-direction: column;
  width: 100vw;

  &__img img {
    width: 50vw;
    height: auto;
    margin-top: 80px;
  }

  &__name {
    width: 80vw;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
      width: 60vw;
    }

    p {
      margin-top: 2rem;
      font-size: 0.7rem;
    }
  }
}
.cards-container {
  @include flexCenter();
  flex-direction: column;
  margin: 10px 20px;
}
.info-container {
  @include flexCenter();
  flex-direction: column;
  width: 90vw;
  padding: 1rem 0.5rem;
  border-radius: 7px;
  margin: 1rem;
  background-color: $bgblack;

  &__title {
    font-size: 1rem;
    margin-bottom: 1.8rem;
  }

  &--download {
    background-color: transparent;
  }
}

.skills-container {
  @include flexCenter();
  width: 100%;
  flex-direction: column;
  .skills {
    width: 80%;

    .progress {
      display: flex;
      height: 1rem;
      overflow: hidden;
      font-size: 0.75rem;
      background-color: #e9ecef;
      border-radius: 0.25rem;
      margin-bottom: 1.5rem;

      .bgColor {
        background-color: $redOrange;
      }
    }

    span {
      font-size: 1.5rem;
    }
  }
}

.timeline {
  width: 80%;
  display: flex;
  flex-direction: column;

  &__card {
    position: relative;
    margin-bottom: 0.5rem;

    .timeline-head {
      font-size: 2rem;
      padding: 0.5rem 1.5rem 1rem 1.5rem;
      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        background-color: #fff;
        border-radius: 50%;
        width: 14px;
        height: 14px;
        top: 16px;
        left: -12px;
        border: 7px solid $redOrange;
        z-index: 10;
      }
    }

    .timeline-body {
      border-left: 2px solid $redOrange;
      padding-left: 1.5rem;
    }
  }
}

.email,
.phone,
.address {
  p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 700px) {
  .profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    &__img img {
      width: 28vw;
    }

    &__name {
      width: 40vw;

      svg {
        margin-top: 50px;
        width: 40vw;
      }

      p {
        margin-top: 1rem;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .skills-container {
    flex-direction: row;
    .mb-2 {
      padding: 0 1rem;
    }
  }
}

/* Contact ---------------*/
.contact-container {
  @include flexCenter();
  flex-direction: column;
  &__form {
    @include flexCenter();
    flex-direction: column;
    margin-top: 5rem;
    &__header {
      @include flexCenter();
      flex-direction: column;

      h1 {
        font-size: 2rem;
        color: $tq;
      }
      .contactMe-p {
        @include flexCenter();
        flex-direction: column;
        text-align: center;
        padding: 30px;
        font-size: 1rem;
      }
    }
    .form {
      display: flex;
      flex-direction: column;
      // margin-right: right;

      &__container {
        @include flexCenter();
        flex-direction: column;
        height: auto;
        padding: 0 20px;
        border-radius: 10px;

        .contact-inputs {
          &__box {
            width: 90vw;
            padding: 15px;
            border: none;
            border-radius: 3px;
            background-color: $bgblack;
            font-size: 1rem;
            margin-top: 20px;
            color: $ow;
            outline: none;
          }
          &__box::placeholder {
            font-size: 1rem;
            color: $gray;
            opacity: 0.4;
          }
        }
        .underline {
          position: relative;
        }
      }
    }
  }

  &__infoMap {
    @include flexCenter();
    flex-direction: column;

    .infoMap-map {
      iframe {
        width: 90vw;
      }
    }

    .infoMap-info {
      &__box {
        margin: 1rem 1rem;
        @include flexCenter();
        flex-direction: column;
        padding: 2rem;
        border-radius: 10px;
        background-color: $bgblack;
        font-size: 0.8rem;
      }
    }
  }
}

.border-underline::before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: $redOrange;
  transition: transform 600ms ease-in-out;
  transform-origin: 0;
  transform: scaleX(0);
}
.border-underline:hover::before,
.border-underline:focus::before {
  transform: scale(1);
}

.contact-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;

  .contact-btn {
    height: auto;
    padding: 10px;
    background-color: $bgblack;
    border: 1px solid $tq;
    border-radius: 3px;
    position: relative;
    color: $tq;
    font-size: 1rem;
    padding: 20px;
    margin: 15px 15px 50px 0;
    outline: none;

    transition: color 300ms ease-in-out;
    z-index: 1;

    &--download {
      margin: 0;
    }

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: #0abfbc;
      z-index: -1;

      transition: transform 500ms ease-in-out;
      transform: scaleX(0);
      transform-origin: left;
    }

    &:hover::before,
    &:focus::before {
      transition: transform 500ms ease-in-out;
      transform: scaleX(1);
    }

    &:hover,
    &:focus {
      color: #1b1b1b;
    }
  }
}

// #map {
//   height: 60vh;
// }
@media screen and (min-width: 1000px) {
  .contact-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &__form {
      height: 100vh;
      margin-top: 4rem;
      &__header {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
          font-size: 2rem;
        }
        .contactMe-p {
          font-size: 0.8rem;
        }
      }
      .form {
        display: flex;
        flex-direction: column;
        // margin-right: right;

        &__container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: auto;
          padding: 0 20px;
          border-radius: 10px;

          .contact-inputs {
            &__box {
              width: 50vw;
              font-size: 0.9rem;
            }
            &__box::placeholder {
              font-size: 1rem;
            }
          }
        }
      }
    }

    &__infoMap {
      height: 100vh;
      gap: 20px;

      .infoMap-map {
        margin: 2rem;
        iframe {
          width: 40vw;
          height: 300px;
        }
      }

      .infoMap-info {
        &__box {
          padding: 3rem;
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1439px) {
  .contact-container {
    &__form {
      height: 100vh;
      &__header {
        h1 {
          font-size: 4rem;
        }
        .contactMe-p {
          font-size: 1.2rem;
        }
      }
      .form {
        display: flex;
        flex-direction: column;
        // margin-right: right;

        &__container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: auto;
          padding: 0 20px;
          border-radius: 10px;

          .contact-inputs {
            &__box {
              width: 50vw;
              font-size: 0.9rem;
            }
            &__box::placeholder {
              font-size: 2rem;
            }
          }
        }
      }
    }

    &__infoMap {
      height: 100vh;
      gap: 20px;

      .infoMap-map {
        margin: 2rem;
        iframe {
          width: 40vw;
          height: 300px;
        }
      }

      .infoMap-info {
        &__box {
          padding: 3rem;
          font-size: 0.8rem;
        }
      }
    }
  }
}
